{#
# __author__ = "Sky UK Ltd"
# __copyright__ = Copyright © Sky CP Limited 2023.
# All rights reserved. No part of this work may be reproduced,
# stored in a retrieval system of any nature, or transmitted,
# in any form or by any means including photocopying
# and recording, without the prior written permission of Sky,
# the copyright owner.
# __licence__ = "subject to the terms of the licence with Sky UK Ltd'
# __version__ = "1.0"
#}
----------------------------------------------------------------------------------------
1. Previous Ticket Number (Link to previous Change)
{%- if 'previousTktNo' in mappings %}
{{ mappings.previousTktNo }}
{%- else %}
{{ '' }}
{%- endif %}
---------------------------------------------------------------------------------------
2. Entry to be removed - if present
{%- if 'deviceToDel' in  mappings %}
{{ mappings.deviceToDel.hostName }} {{ mappings.deviceToDel.ipaddress }}
{%- else %}
{{ '' }}
{%- endif %}
----------------------------------------------------------------------------------------
3. Please add entry for below
----------------------------------------------------------------------------------------
RECORD --- VALUE --- STATUS
{%- for config in mappings.configuration %}
{{ config.record }} --- {{ config.value }} --- {{ config.status }}
{%- endfor %}
